<div class="alert alert-block alert-info">
    <b><p style="font-size: XX-large">Problem 1:   Constructing Pandas Objects</p></b> </div>

In this problem, you will create two simple pandas objects.

1. Create a pandas Series object with indices given by the first 10 letters of the English
alphabet and values given by the first 10 primes.



2. Below is a table that might arise in a genetics experiment. Reconstruct this as a
pandas DataFrame.
<img src = "Files/exp.jpg" width = "300">

---

<div class="alert alert-block alert-info">
    <b><p style="font-size: XX-large">Problem 2:   Data cleaning ðŸ§½ & Data Wrangling </p></b> </div>

1.  Create the following data frame. Find the number of unique values from the df dataset "col2"

<img src = "Files/datawrang.jpg" width = "150">.


2. Create a simple function and use pd.apply() to double the value in "col1".


3. Permanently remove "col1" from df dataframe.


4.  Fill the NA value in col3 with "FILL".


5. For a new dataset "data" below, create a pivot table. Set columns "A" and "B" as hierarchical index, and used column "C" to create the columns of the pivot table.
<img src = "Files/piv.jpg" width = "150">

---

<div class="alert alert-block alert-info">
    <b><p style="font-size: XX-large">Problem 3:  Diamond </p></b> </div>

1. Download the "diamonds.csv" from <a href = "https://www.dropbox.com/s/fyv99d2uor0gbje/diamonds.csv?dl=0"> here</a>, load and read the file. Use hash symbol, `#`, and briefly explain the data set and the meaning of each column. 


2. Drop columns x, y, z from the diamonds dataset



3. Here is a new dataframe called "additional_info", combine this new dataframe with the diamonds dataframe based on the "cut" column.
<img src= "Files/additional.jpg" width = "200">
Use comments and briefly explain the new columns.




4. Calculate the average price of diamonds based on their clarity.



5. Select all the rows which satisfy the following requirements: "carat > 3, cut=Premium, color=J"

---

<div class="alert alert-block alert-info">
    <b><p style="font-size: XX-large">Problem 4:  Titanic </p></b> </div>

1. Download the "titanic.csv" from <a href = "https://www.dropbox.com/s/xigls3lkvv6qbwe/titanic.csv?dl=0">here</a>, load and read the file. Use hash symbol, `#`, and briefly explain the data set and the meaning of each column.


2. Sort the dataset by column index in ascending order.


3. Sort the titanic dataset by the 'fare' column in descending order.


4. What are the three highest unique fares paid on the Titanic?


5. Define two new data frames:
    1. df1 that consists of three columns 'class', 'age' and 'sex'
    2. df2 consists of three columns 'embark_town', 'fare' and 'alone'.
    
    Use one line of code in pandas to combine the 2 dataframes (df1 and df2), sort it by column 'age' in ascending order, and print out the result.

---

<div class="alert alert-block alert-info">
    <b><p style="font-size: XX-large">Problem 5:   SF Salaries</p></b> </div>

1.  You will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! download, load, and read the file. Use hash symbol, #, and briefly explain the data set and the meaning of each column.


2. Use the `.info()` method to find out how many entries there are.


3. What is the average BasePay ?


4. What is the highest amount of OvertimePay in the dataset ?


5. What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). 


6. How much does JOSEPH DRISCOLL make (including benefits)?


7. What is the name of highest paid person (including benefits)?


8. What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?


9. What was the average (mean) BasePay of all employees per year? (2011-2014) ?


10. How many unique job titles are there? 


11. What are the top 5 most common jobs?


12.  How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurrence in 2013?)


13. How many people have the word Chief in their job title? (This is pretty tricky)


14. Is there a correlation between length of the Job Title string and Salary?

---

# Done!